@font-face {
    font-family: "Alan Sans";
    src: url("../assets/fonts/alan_sans/AlanSans-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Product Sans Light";
    src: url("../assets/fonts/google_sans_text/ProductSans-Light.ttf");
}
@font-face {
    font-family: "Product Sans Bold";
    src: url("../assets/fonts/google_sans_text/ProductSans-Bold.ttf");
}
@font-face {
    font-family: "Product Sans Regular";
    src: url("../assets/fonts/google_sans_text/ProductSans-Regular.ttf");
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Alan Sans";
    padding: 0%;
    margin: 0%;
}
p{
    font-family: "Product Sans Light";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
header{
    background-color: rgb(29, 34, 37);
    box-shadow: -15px -10px 15px rgba(250, 248, 248, 0.12);
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid purple;
    border-bottom-left-radius: 10px;
    border-right: 2px solid purple;
    border-bottom-right-radius: 10px;
    justify-self: center;
    width: 95vw;
}
header #header{
    text-align: center;
    font-size: 3em;
    animation: iconPopUp 0.5s forwards;
}
header .nav-container-socials{
    display: flex;
    justify-content: flex-end;
}
header li{
    display: inline-block;
    font-size: 2em;
    margin-right: 25px;
    animation: iconPopUp 0.5s forwards;
}
header input:hover{
    text-decoration-color: purple;
    cursor: pointer;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}
a img{
    vertical-align: middle;
    margin-right: 5px;
}
header .pages-container{
    display: flex;
    justify-content: center;
}
.pages-container .button-container{
    border-top: 1px solid purple;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 98%;
}

.pages-container .button-container input{
    margin-right: 25px;
    font-size: 2em;
    border: none;
    background-color: transparent;
    color: white;
    border-right: 1px solid purple;
    padding-right: 25px;
}
.pages-container .button-container input:hover{
    background-color: rgb(255, 255, 255);
    color: purple;
    border-radius: 8px;
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.home-container{
    box-shadow: -15px -10px 15px rgba(251, 251, 251, 0.117);
    width: 95vw;
    height: 70vh;
    overflow-y: auto;
    border-radius: 10px;
    background-color: rgb(29, 34, 37);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    text-align: center;
    border-bottom: 2px solid purple;
    border-right: 2px solid purple;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.home-container h2, h3{
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-thickness: 3px;
}
.home-container strong{
    color: purple
}
.home-container a{
    text-decoration: none;
    color: purple;
}
.home-container a:hover{
    text-decoration: underline;
}
.home-container p{
    font-size: 1.5em;
}
.overview-container ul{
    list-style-position: inside;
}
footer{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: purple;
}

/* Contact Me Style */
.contact-container{
    box-shadow: -15px -10px 15px rgba(251, 251, 251, 0.117);
    width: 95vw;
    height: 95vh;
    border-radius: 10px;
    background-color: rgb(29, 34, 37);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    text-align: center;
    border-bottom: 2px solid purple;
    border-right: 2px solid purple;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    flex-direction: column;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 20px;
    justify-content: center;
    justify-self: center;
    width: 60%;
    height: 70%;
    border: 0.5px solid purple;
    border-radius: 10px;
    box-shadow: -15px -10px 15px rgba(0, 0, 0, 0.571);
}
.form-container h1{
    font-size: 3em;
}
.form-container p{
    padding: 50px;
    text-align: center;
    
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
form input{
    width: 65%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 3px solid purple;
    border-radius: 8px;
}
form textarea{
    width: 70%;
    height: 150px;
    border: none;
    border: none;
    border-bottom: 3px solid purple;
    border-radius: 8px;
    font-size: 15px;
}
form button{
    margin-top: 8px;
    padding:15px;
    font-size: 1.3em;
    font-family: "Product Sans Light";
    border: none;
    border-radius: 8px;
    border-bottom: 3px solid purple;
}
form button:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}
/* Animations */ 

@keyframes iconPopUp {
    from{
        transform: translateY(20px);
    }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 91vw;
  }

  .nav-container-socials {
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.8em;
  }

  .pages-container {
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }

  .button-container input {
    font-size: 1.2em;
    margin: 0.5rem 0;
    border: none;

  }
  .pages-container .button-container input{
    border-right: 2px solid purple;
    border-left: 2px solid purple;
    border-radius: 8px;
    padding-left: 25px;
  }

  /* MAIN CONTAINER */
  .home-container {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 1rem;
  }

  .home-container p {
    font-size: 1.1em;
  }
  .home-container #error-message{
    font-size: 0.5em;
  }

  /* Form container */
  .form-container{
    height: 85vh;
  }
  form{
    width: 76vw;
  }
  form p{
    font-size: 10px;
    text-align: center;
    padding-right: 100px;
  }

}
